{% load i18n %}
<h3>{% blocktrans with filter_title=title %}{{ filter_title }} {% endblocktrans %}</h3>
<ul>
{% for choice in choices %}
    <li><a href="#" id="selectstatus" status="{{ choice.status }}">{{ choice.display }}</a></li>
{% endfor %}
</ul>
<script>
(function($) {
    $('a#selectstatus').click(function(evt){
        $(this).parent('li').toggleClass('selected');
        var status = $(this).attr('status');
        var select = $(this).parent('li').hasClass('selected');
        $('tr.' + status + ' input.action-select').each(function() {
            $(this).prop('checked', select);});
        return false;
    });
})(django.jQuery);
</script>
