#result_list ul.messagelist li {
    padding-left: 45px;
    margin-bottom: 8px;
    border: 1px solid #eee;
    background-position: 12px 12px;
    max-height: 200px;
    overflow: auto;
}

#result_list tr.minke_news td {
    border: 0;
    padding: 8px 8px 0 33px;
    color: #666;
}

#result_list ul.messagelist pre {
    margin: 0;
    padding: 0;
}

#result_list tr.success {
    background-color: #dfd;
}

#result_list tr.warning {
    background-color: #ffc;
}

#result_list tr.error {
    background-color: #ffefef;
}

#result_list tr.minke_news.success {
    background-color: #e8ffe8;
}

#result_list tr.minke_news.warning {
    background-color: #ffffe6;
}

#result_list tr.minke_news.error {
    background-color: #fff6f6;
}

#result_list tr.running input,
#result_list tr.initialized input,
#result_list.running th:first-child div {
    display: none;
}

#result_list.running th:first-child::after {
    content: '⧗';
    font-size: 160%;
    font-weight: normal;
}

#result_list tr.running td:first-child::after {
    content: '⧗';
    font-size: 140%;
}

#result_list tr.initialized td:first-child::after {
    content: '⧖';
    font-size: 140%;
}
