#result_list ul.messagelist li {
    padding-left: 45px;
    margin-bottom: 8px;
    border: 1px solid #eee;
    background-position: 12px 12px;
    max-height: 200px;
    overflow: auto;
}

#result_list tr.session td {
    border: 0;
    padding: 8px 8px 0 33px;
    color: #666;
}

#result_list ul.messagelist pre {
    margin: 0;
    padding: 0;
}

#result_list tr.minkeobj.success {
    background-color: #dfd;
}

#result_list tr.minkeobj.warning {
    background-color: #ffc;
}

#result_list tr.minkeobj.error,
#result_list tr.minkeobj.failed,
#result_list tr.minkeobj.canceled,
#result_list tr.minkeobj.stopped {
    background-color: #ffefef;
}

#result_list tr.session.success {
    background-color: #e8ffe8;
}

#result_list tr.session.warning {
    background-color: #ffffe6;
}

#result_list tr.session.error,
#result_list tr.session.canceled,
#result_list tr.session.stopped,
#result_list tr.session.failed {
    background-color: #fff6f6;
}

#result_list tr.minkeobj.running input,
#result_list tr.minkeobj.initialized input,
#result_list.running th:first-child div {
    display: none;
}

#result_list.running th:first-child::after {
    content: '⧗';
    font-size: 160%;
    font-weight: normal;
}

#result_list tr.minkeobj.running td:first-child::after {
    content: '⧗';
    font-size: 140%;
}

#result_list tr.minkeobj.initialized td:first-child::after {
    content: '⧖';
    font-size: 140%;
}
